
workspace/training/exported_model/checkpoint/checkpoint
workspace/training/exported_model/checkpoint/ckpt-0.data-00000-of-00001
workspace/training/exported_model/checkpoint/ckpt-0.index
workspace/training/exported_model/pipeline.config
workspace/training/exported_model/saved_model/saved_model.pb
workspace/training/exported_model/saved_model/variables/variables.data-00000-of-00001
workspace/training/exported_model/saved_model/variables/variables.index
workspace/training/old/reference/checkpoint
workspace/training/old/reference/ckpt-20.data-00000-of-00001
workspace/training/old/reference/ckpt-20.index
workspace/training/old/reference/ckpt-21.data-00000-of-00001
workspace/training/old/reference/ckpt-21.index
workspace/training/old/reference/ckpt-22.data-00000-of-00001
workspace/training/old/reference/ckpt-22.index
workspace/training/old/reference/ckpt-23.data-00000-of-00001
workspace/training/old/reference/ckpt-23.index
workspace/training/old/reference/ckpt-24.data-00000-of-00001
workspace/training/old/reference/ckpt-24.index
workspace/training/old/reference/ckpt-25.data-00000-of-00001
workspace/training/old/reference/ckpt-25.index
workspace/training/old/reference/ckpt-26.data-00000-of-00001
workspace/training/old/reference/ckpt-26.index
workspace/training/old/reference/eval/events.out.tfevents.1635103308.naeem-Precision-5550.574331.0.v2
workspace/training/old/reference/eval/events.out.tfevents.1635106542.naeem-Precision-5550.574331.1.v2
workspace/training/old/reference/eval/events.out.tfevents.1635109851.naeem-Precision-5550.574331.2.v2
workspace/training/old/reference/eval/events.out.tfevents.1635113219.naeem-Precision-5550.574331.3.v2
workspace/training/old/reference/eval/events.out.tfevents.1635116642.naeem-Precision-5550.574331.4.v2
workspace/training/old/reference/eval/events.out.tfevents.1635120242.naeem-Precision-5550.574331.5.v2
workspace/training/old/reference/eval/events.out.tfevents.1635123979.naeem-Precision-5550.574331.6.v2
workspace/training/old/reference/eval/events.out.tfevents.1635126471.naeem-Precision-5550.574331.7.v2
workspace/training/old/reference/train/events.out.tfevents.1635103002.naeem-Precision-5550.570607.0.v2
workspace/training/pretrained-models/efficientdet_d1_coco17_tpu-32/checkpoint/checkpoint
workspace/training/pretrained-models/efficientdet_d1_coco17_tpu-32/checkpoint/ckpt-0.data-00000-of-00001
workspace/training/pretrained-models/efficientdet_d1_coco17_tpu-32/checkpoint/ckpt-0.index
workspace/training/pretrained-models/efficientdet_d1_coco17_tpu-32/pipeline.config
workspace/training/pretrained-models/efficientdet_d1_coco17_tpu-32/saved_model/saved_model.pb
workspace/training/pretrained-models/efficientdet_d1_coco17_tpu-32/saved_model/variables/variables.data-00000-of-00001
workspace/training/pretrained-models/efficientdet_d1_coco17_tpu-32/saved_model/variables/variables.index
workspace/training/pretrained-models/faster_rcnn_inception_resnet_v2_640x640_coco17_tpu-8/checkpoint/checkpoint
workspace/training/pretrained-models/faster_rcnn_inception_resnet_v2_640x640_coco17_tpu-8/checkpoint/ckpt-0.data-00000-of-00001
workspace/training/pretrained-models/faster_rcnn_inception_resnet_v2_640x640_coco17_tpu-8/checkpoint/ckpt-0.index
workspace/training/pretrained-models/faster_rcnn_inception_resnet_v2_640x640_coco17_tpu-8/pipeline.config
workspace/training/pretrained-models/faster_rcnn_inception_resnet_v2_640x640_coco17_tpu-8/saved_model/saved_model.pb
workspace/training/pretrained-models/faster_rcnn_inception_resnet_v2_640x640_coco17_tpu-8/saved_model/variables/variables.data-00000-of-00001
workspace/training/pretrained-models/faster_rcnn_inception_resnet_v2_640x640_coco17_tpu-8/saved_model/variables/variables.index
workspace/training/pretrained-models/faster_rcnn_resnet50_v1_640x640_coco17_tpu-8.tar.gz
workspace/training/pretrained-models/faster_rcnn_resnet50_v1_640x640_coco17_tpu-8/checkpoint/checkpoint
workspace/training/pretrained-models/faster_rcnn_resnet50_v1_640x640_coco17_tpu-8/checkpoint/ckpt-0.data-00000-of-00001
workspace/training/pretrained-models/faster_rcnn_resnet50_v1_640x640_coco17_tpu-8/checkpoint/ckpt-0.index
workspace/training/pretrained-models/faster_rcnn_resnet50_v1_640x640_coco17_tpu-8/pipeline.config
workspace/training/pretrained-models/faster_rcnn_resnet50_v1_640x640_coco17_tpu-8/saved_model/saved_model.pb
workspace/training/pretrained-models/faster_rcnn_resnet50_v1_640x640_coco17_tpu-8/saved_model/variables/variables.data-00000-of-00001
workspace/training/pretrained-models/faster_rcnn_resnet50_v1_640x640_coco17_tpu-8/saved_model/variables/variables.index
workspace/training/pretrained-models/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8/checkpoint/checkpoint
workspace/training/pretrained-models/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8/checkpoint/ckpt-0.data-00000-of-00001
workspace/training/pretrained-models/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8/checkpoint/ckpt-0.index
workspace/training/pretrained-models/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8/pipeline.config
workspace/training/pretrained-models/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8/saved_model/saved_model.pb
workspace/training/pretrained-models/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8/saved_model/variables/variables.data-00000-of-00001
workspace/training/pretrained-models/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8/saved_model/variables/variables.index
workspace/training/reference/checkpoint
workspace/training/reference/ckpt-26.data-00000-of-00001
workspace/training/reference/ckpt-26.index
workspace/training/reference/ckpt-27.data-00000-of-00001
workspace/training/reference/ckpt-27.index
workspace/training/reference/ckpt-28.data-00000-of-00001
workspace/training/reference/ckpt-28.index
workspace/training/reference/ckpt-29.data-00000-of-00001
workspace/training/reference/ckpt-29.index
workspace/training/reference/ckpt-30.data-00000-of-00001
workspace/training/reference/ckpt-30.index
workspace/training/reference/ckpt-31.data-00000-of-00001
workspace/training/reference/ckpt-31.index
workspace/training/reference/ckpt-32.data-00000-of-00001
workspace/training/reference/ckpt-32.index
workspace/training/reference/eval/events.out.tfevents.1636357133.naeem-Precision-5550.12465.0.v2
workspace/training/reference/eval/events.out.tfevents.1636361036.naeem-Precision-5550.12465.1.v2
workspace/training/reference/eval/events.out.tfevents.1636364895.naeem-Precision-5550.12465.2.v2
workspace/training/reference/eval/events.out.tfevents.1636369454.naeem-Precision-5550.12465.3.v2
workspace/training/reference/eval/events.out.tfevents.1636373350.naeem-Precision-5550.12465.4.v2
workspace/training/reference/eval/events.out.tfevents.1636377350.naeem-Precision-5550.12465.5.v2
workspace/training/reference/eval/events.out.tfevents.1636381390.naeem-Precision-5550.12465.6.v2
workspace/training/reference/eval/events.out.tfevents.1636383950.naeem-Precision-5550.12465.7.v2
workspace/training/reference/train/events.out.tfevents.1636356247.naeem-Precision-5550.2496.0.v2
workspace/training/reference/train/events.out.tfevents.1636356859.naeem-Precision-5550.9109.0.v2
